* {
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: TrebucMS;
    src: url(../fonts/text-fonts/trebuc.ttf);
}

.content-wrap {
    width: 100%;
    float: left;
}

/*HEADER*/
.header {
    width: 100%;
    height: 100px;/*100PX*/
    background-color: #fff;
    position: fixed;
    -webkit-box-shadow: inset 0px 6px 100px -34px
    rgba(0,0,0,0.75);
    overflow: hidden;
    transition: all 0.7s ease;
    z-index: 1;
}

.left-header {
    width: 50%;
    height: 100px;
    float: left;
}

.right-header {
    width: 50%;
    height: 100px;
    float: right;
}

.left-head-content {
    height: 100px;
    float: left;
    margin: 0px 0px 0px 270px;
}

.header-logo {
    width: 170px;
    margin: auto;
    margin-top: 11px;
}

.menu {
    height: 100px;
    margin-left: 10px;
    float: left;
}

.menu ul li {
    float: left;
    margin: 38px auto;
    padding: 0px 15px 0px 15px;
    display: inline-block;
}

.menu ul li a {
    font-family: TrebucMS;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    transition: 0.2s;
}

#fa-bars {
    display: none;
}#fa-times{display: none;}

.menu-fa-icons {
    float: left;
}

.res-menu-fa-icons {
    display: none;
}

.menu ul li a:hover {
    color: #016742;
}

.res.res-header-bar {
    display: none;
}

@media screen and (max-width:1000px){
    .header-logo{
        margin-left: -80px;
    }

    .menu {
        margin-left: -20px;
    }
}

@media screen and (max-width:850px){
    .header-logo {
        margin: 20px 0px 0px -150px;
        width: 130px;
    }

    .menu {
        display: none;
    }

    #fa-bars {
        display: block;
        font-size: 22px;
        margin: 40px 0px 0px 170px;
    }#fa-bars:hover {cursor: pointer;}

    #fa-times {
        display: none;
        font-size: 22px;
        margin: 40px 0px 0px 170px;
    }#fa-times:hover {cursor: pointer;}

    .menu-fa-icons {
        position: relative;
        right: 70px;
        float: right;
    }

    .menu-fa-icons {
        margin-left: 100px;
    }

    .res.res-header-bar {
        width: 100%;
        height: 35px;
        float: left;
        border-top: 1px solid #000;
        display: block;
        text-align: center;
    }

    .res.res-header-bar ul li {
        float: left;
        padding: 8px;
        border-right: 1px groove #000;
        display: block;
    }.res.res-header-bar ul li:first-child {border-left: 1px groove #000;}

    .res.res-header-bar a {
        text-decoration: none;
        color: #000;
        font-family: TrebucMS;
    }

    .res.res-header-bar ul {
        display: inline-block;
    }
}

@media screen and (max-width:405px){
    .header-logo {
        margin-left: -200px;
    }
}

@media screen and (max-width:328px){

    .menu-fa-icons {
        display: none;
    }

    .header {
        background-color: transparent;
        -webkit-box-shadow: inset 0px 6px 100px -34px
        rgba(0,0,0,0.6);
        height: 78px;
    }

    .header-logo {
        width: 90px;
        margin-left: -190px;
    }

    .left-header {
        height: 78px;
    }

    .right-header {
        height: 78px;
    }

    .res-menu-fa-icons {
        display: block;
        float: left;
        margin: 33px 0px 0px 80px;
        font-size: 14px;
    }

    #res-fa-times {
        display: none;
    }

    #res-fa-bars {
        display: block;
    }

    .res.res-header-bar {
        display: none;
    }

    .res.res-mobile-menu {
        width: 100%;
        float: left;
        text-align: center;
    }

    .res.res-mobile-menu ul li {
        padding: 7px;
    }

    .res.res-mobile-menu a {
        text-decoration: none;
        color: #000;
        font-family: TrebucMS;
        font-size: 13px;
    }
}
/*HEADER END*/

/*CONT*/

/*INTRO*/
/*INTRO AREA*/
.intro-title-area {
    width: 100%;
    height: 275px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/main/title-area/vermicompost.jpg);
    background-size: cover;
    background-position: 30% 55%;
    text-align: center;
    float: left;
}

.it-title-w {
    padding: 20px 0px 0px 0px;
    width: auto;
    margin: 0 auto;
    margin-top: 142px;
    display: inline-block;
}

.it-title-l {
    padding: 5px 0px 5px 0px;
    width: auto;
    margin: 0 auto;
    display: inline-block;
}

.it-title-1 {
    font-family: TrebucMS;
    color: #fff;
    font-size: 36px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.fas.fa-home {
    color: #fff;
    font-size: 16px;
    float: left;
}
.fas.fa-home:hover {
    color: rgb(214, 214, 214);
}

.it-title-2 {
    color: #fff;
    float: left;
    font-weight: bolder;
    letter-spacing: 1px;
}

.direction {
    display: inline-block;
    color: #c5c5c5;
    font-weight: 750;
}

.direction ul li {
    float: left;
    margin: 2px 0px 2px 0px;
}
.direction ul a {
    text-decoration: none;
    color: #c5c5c5;
    transition: .3s;
    font-family: TrebucMS;
}

.direction ul a:hover {
    color: #fff;
}

.direction ul li:before {
    content: "\f054";
    font-family: FontAwesome;
    font-size: 12px;
    margin: 0px 10px 0px 10px;
}

.direction ul li:first-child:before {
    display: none;
}

@media screen and (max-width: 1000px) {
    .it-title-1 {font-size: 34px;}
    .direction ul li {font-size: 14px;}
    .direction ul li:last-child:before {
        font-size: 11px;
    }
    .direction ul a {
        font-size: 14px;
    }
}

@media screen and (max-width: 780px) {
    .it-title-1 {font-size: 32px;}
    .direction ul li {font-size: 12px;}
    .direction ul a {
        font-size: 12px;
    }
}

@media screen and (max-width: 620px) {
    .it-title-1 {font-size: 28px;}
    .direction ul li {font-size: 11px;}
    .direction ul a {
        font-size: 11px;
    }
    .direction ul li:last-child:before {
        font-size: 11px;
    }
}

@media screen and (max-width: 520px) {
    .intro-title-area {height: 225px;}
    .it-title-w {margin-top: 120px;}
    .it-title-1 {font-size: 26px;}
    .direction ul li {font-size: 10px;}
    .direction ul a {
        font-size: 10px;
    }
    .direction ul li:last-child:before {
        font-size: 10px;
    }
}

@media screen and (max-width: 520px) {
    .intro-title-area {height: 210px;}
    .it-title-w {margin-top: 115px;}
    .it-title-1 {font-size: 22px;}
    .direction ul li {font-size: 10px;}
    .direction ul li:last-child:before {margin: 0px 5px 0px 5px;}
}

@media screen and (max-width: 328px) {
    .intro-title-area {height: 270px;}
    .it-title-w {margin-top: 195px;}
    .it-title-1 {font-size: 22px;}
    .direction ul li {font-size: 10px;}
    .direction ul li:last-child:before {margin: 0px 5px 0px 5px;}
    .intro-title-area {background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/responsive/res-bg.jpg); background-size: cover; background-position: center;}
}
/*INTRO AREA END*/

/*MAIN MENU*/
.main-cont {
    width: 100%;
    height: auto;
    background: #e9e9e9;
}

.main-menu {
    width: 100%;
    height: 35px;
    background: linear-gradient(#c8c8c8, #e9e9e9);
    float: left;
    text-align: center;
}
.main-menu-element {
    width: auto;
    display: inline-block;
    height: 35px;
}

.main-menu ul {
    height: 35px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-menu ul li {
    width: 220px;
    height: 35px;
    float: left;
    border-right: 1px solid #a3a3a3;
    border-left: 1px solid #a3a3a3;
    transition: 0.2s;
    
}
.main-menu ul li:hover {
    -webkit-box-shadow: inset 0px 6px 60px -34px
    rgba(0,0,0,0.75);
}
.main-menu ul li:last-child {
    -webkit-box-shadow: inset 0px 6px 60px -34px
    rgba(0,0,0,0.75);
}

.main-menu ul li a {
    display: block;
    line-height: 35px;
    text-decoration: none;
    color: #575757;
    font-family: TrebucMS;
    font-weight: bolder;
}

@media screen and (max-width: 1000px) {
    .main-menu ul li {
        width: 210px;
    }
    .main-menu ul li a {
        font-size: 14px;
    }
}

@media screen and (max-width: 780px) {
    .main-menu ul li {
        width: 200px;
    }
    .main-menu ul li a {
        font-size: 13px;
    }
}

@media screen and (max-width: 620px) {
    .main-menu ul li {
        width: 160px;
    }
    .main-menu ul li a {
        font-size: 12px;
    }
}

@media screen and (max-width: 520px) {
    .main-menu ul li {
        width: 150px;
    }
    .main-menu ul li a {
        font-size: 12px;
    }
}

@media screen and (max-width: 328px) {
    .main-menu ul li {
        width: 130px;
    }
    .main-menu ul li a {
        font-size: 12px;
    }
}

@media screen and (max-width: 270px) {
    .main-menu ul li {
        width: 100px;
    }
    .main-menu ul li a {
        font-size: 11px;
    }
}
/*MAIN MENU END*/

.content {
    width: 100%;
    float: left;
    background-color: #e9e9e9;
    padding-top: 20px;
}

/*CONT*/

/*banner*/
.banner {
    width: 100%;
    background: #016742;
    float: left;
}

.banner-container {
    width: 100%;
    margin: 38px 0 38px 0;
    display: table;
    overflow: hidden;
}

.banner-container h2 {
    font-family: TrebucMS;
    font-weight: bolder;
    letter-spacing: 2px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 270px;
    color: #000;
}

.banner-container button {
    float: right;
    width: 180px;
    line-height: 40px;
    border: 2px solid #000;
    background: transparent;
    color: #000;
    font-family: TrebucMS;
    letter-spacing: 1px;
    font-size: 20px;
    outline: 0;
    margin-right: 250px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.banner-container button:hover {
    background: #000;
    color: #016742;

}
.banner-container span {
    display: none;
    line-height: 40px;
    border: 2px solid #000;
    padding: 0 20px 0 20px;
    margin-top: 20px;
    font-family: TrebucMS;
    color: #000;
}   

@media screen and (max-width: 1020px) {
    .banner-container {
        text-align: center;
    }

    .banner-container h2 {
        padding: 0;
        margin: 0 auto;
        text-align: center;
        float: left;
        width: 100%;
    }
    .banner-container button {
        display: none;
    }

    .banner-container span {
        display: inline-block;
    }
}
/*banner*/

/*FOOTER  BOTTOM*/

.bottom-footer {
    width: 100%;
    height: 480px;
    background: /*linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),*/ url(../images/main/footer-main.jpg);
    float: left;
    background-position: center;
    /*background-size: cover;*/
    padding-top: 40px;
    text-align: center;
}

.bottom-footer-elements {
    width: 100%;
    height: 450px;
    float: left;
}

.bottom-footer-cols {
    width: 990px;
    height: 450px;
    margin: 0 auto;
}

.bf-first-col {
    width: 330px;
    height: 400px;
    float: left;
    text-align: left;
}

.bf-second-col {
    width: 330px;
    height: 400px;
    float: left;
    text-align: left;
}

.bf-third-col {
    width: 330px;
    height: 400px;
    float: left;
    text-align: left;
}

.bf-bottom-col {
    width: 100%;
    height: 50px;
    float: left;
    text-align: center;
}

.bffc-title {
    font-family: TrebucMS;
    font-size: 19px;
    font-weight: normal;
    color: #fff;
    letter-spacing: 0.5px;
    float: left;
    position: relative;
    margin-bottom: 50px;
}
.bffc-title:after {
    content: " ";
    width: 70px;
    height: 2px;
    left: 0;
    top: 25px;
    bottom: 0;
    position: absolute;
    background: rgb(160, 160, 160);
}

.bffc-text {
    width: 258px;
    font-size: 16px;
    word-spacing: 1px;
    line-height: 22px;
    letter-spacing: 1px;
    font-family: TrebucMS;
    float: left;
    color: rgb(160, 160, 160);
}

.bfsc-title {
    font-family: TrebucMS;
    font-size: 19px;
    font-weight: normal;
    color: #fff;
    letter-spacing: 0.5px;
    position: relative;
    margin-bottom: 50px;
}
.bfsc-title:after {
    content: " ";
    width: 70px;
    height: 2px;
    left: 0;
    top: 25px;
    bottom: 0;
    position: absolute;
    background: rgb(160, 160, 160);
}

.bfsc-title-2 {
    font-family: TrebucMS;
    color: rgb(160, 160, 160);
    font-style: italic;
    font-size: 17px;
    margin-bottom: 10px;
}

.bfsc-text {
    font-family: TrebucMS;
    color: #FFF;
    font-weight: 400;
    margin-bottom: 6px;
    letter-spacing: 0.8px;
}

.bfsc-text-1 {
    font-family: TrebucMS;
    color: #FFF;
    font-weight: 400;
    margin-bottom: 15px;
    letter-spacing: 0.8px;
}

.bfsc-title-3 {
    font-family: TrebucMS;
    color: rgb(160, 160, 160);
    font-style: italic;
    font-size: 17px;
    margin-bottom: 10px;
}

.bfsc-text-2 {
    font-family: TrebucMS;
    color: #FFF;
    font-weight: 400;
    margin-bottom: 6px;
    letter-spacing: 0.8px;
}

.bfsc-text-3 {
    font-family: TrebucMS;
    color: #FFF;
    font-weight: 400;
    letter-spacing: 0.8px;
}

.bftc-title {
    font-family: TrebucMS;
    font-size: 19px;
    font-weight: normal;
    color: #fff;
    letter-spacing: 0.5px;
    position: relative;
    margin-bottom: 50px;
}
.bftc-title:after {
    content: " ";
    width: 70px;
    height: 2px;
    left: 0;
    top: 25px;
    bottom: 0;
    position: absolute;
    background: rgb(160, 160, 160);
}

.fas.fa-map-marker-alt {
    color: #016742;
    font-size: 25px;
    margin-right: 18px;
    float: left;
}

.bftc-text {
    float: left;
    color: rgb(160, 160, 160);
    line-height: 26px;
    font-weight: normal;
    font-family: TrebucMS;
    transition: .2s;
    cursor: context-menu;
}
.bftc-text:hover {color: #016742; margin-left: 8px;}

.fas.fa-envelope {
    color: #016742;
    font-size: 25px;
    margin-right: 16px;
    float: left;
}

.bftc-text-1 {
    float: left;
    color: rgb(160, 160, 160);;
    line-height: 26px;
    font-weight: normal;
    font-family: TrebucMS;
    transition: .2s;
    cursor: context-menu;
}
.bftc-text-1:hover {color: #016742; margin-left: 8px;}

.bftc-row-1 {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.bftc-row-2 {
    width: 100%;
    float: left;
}

.bftc-icon-ms {
    width: 40px;
    height: 25px;
    float: left;
    text-align: center;
}

.bfb-icon-wrap {
    width: auto;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

#bfbc-icons {
    color: rgb(160, 160, 160);
    margin: 2px 5px 2px 5px;
    transition: 200ms;
}

#bfbc-icons:hover {
    color: #016742;
}

.bfb-text {
    font-family: TrebucMS;
    font-size: 16px;
    color:  rgb(160, 160, 160);
}

.bfb-text a {
    font-family: TrebucMS;
    font-size: 16px;
    color:  rgb(160, 160, 160);
    text-decoration: none;
    transition: 200ms;
}

.bfb-text a:hover {
    color: #016742;
}

@media screen and (max-width: 1050px) {
    .bffc-title {
        font-size: 18px;
        margin-bottom: 45px;
    }
    .bffc-text {
        font-size: 15px;
    }
    .bfsc-title {
        font-size: 18px;
        margin-bottom: 45px;
    }
    .bfsc-title-2 {
        font-size: 18px;
    }
    .bfsc-text {
        font-size: 16px;
    }
    .bfsc-text-1 {
        font-size: 16px;
    }
    .bfsc-title-3 {
        font-size: 18px;
    }
    .bfsc-text-2 {
        font-size: 16px;
    }
    .bfsc-text-3 {
        font-size: 16px;
    }
    .bftc-title {
        font-size: 18px;
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 1020px) {
    .bf-first-col {height: 320px;}
    .bf-second-col {height: 320px;}
    .bf-third-col {height: 320px;}
    .bottom-footer-cols {height: 370px;}
    .bottom-footer-elements {height: 370px;}
    .bottom-footer {height: 400px;}

    .bf-first-col,
    .bf-second-col,
    .bf-third-col {
        width: 300px;
    }
    .bottom-footer-cols {
        width: 900px;
    }
    .bf-bottom-col {
        width: 900px;
    }

    .bffc-title {
        font-size: 17px;
        margin-bottom: 40px;
    }
    .bffc-text {
        font-size: 15px;
    }
    .bfsc-title {
        font-size: 17px;
        margin-bottom: 40px;
    }
    .bfsc-title-2 {
        font-size: 16px;
    }
    .bfsc-text {
        font-size: 14px;
    }
    .bfsc-text-1 {
        font-size: 14px;
    }
    .bfsc-title-3 {
        font-size: 16px;
    }
    .bfsc-text-2 {
        font-size: 14px;
    }
    .bfsc-text-3 {
        font-size: 14px;
    }
    .bftc-title {
        font-size: 17px;
        margin-bottom: 40px;
    }
    .bftc-text {
        font-size: 15px;
    }
    .bftc-text-1 {
        font-size: 15px;
    }

    .fas.fas.fa-map-marker-alt {
        font-size: 23px; 
    }
    .fas.fa-envelope {
        font-size: 23px;
    }

    .bfb-icon-wrap {
        margin-bottom: 2px;
    }
}

@media screen and (max-width: 930px) {
    .bffc-title {
        font-size: 16px;
        margin-bottom: 40px;
    }
    .bffc-text {
        font-size: 13px;
        width: 240px; 
    }
    .bfsc-title {
        font-size: 16px;
        margin-bottom: 40px;
    }
    .bfsc-title-2 {
        font-size: 16px;
    }
    .bfsc-text {
        font-size: 13px;
    }
    .bfsc-text-1 {
        font-size: 13px;
    }
    .bfsc-title-3 {
        font-size: 16px;
    }
    .bfsc-text-2 {
        font-size: 13px;
    }
    .bfsc-text-3 {
        font-size: 13px;
    }
    .bftc-title {
        font-size: 16px;
        margin-bottom: 40px;
    }
    .bftc-text {
        font-size: 13px;
    }
    .bftc-text-1 {
        font-size: 13px;
    }

    .fas.fas.fa-map-marker-alt {
        font-size: 23px; 
    }
    .fas.fa-envelope {
        font-size: 23px;
    }

    .bfb-icon-wrap {
        margin-bottom: 2px;
    }

    .bf-first-col,
    .bf-second-col,
    .bf-third-col {
        width: 270px;
    }
    .bottom-footer-cols {
        width: 810px;
    }
    .bf-bottom-col {
        width: 810px;
    }
}

@media screen and (max-width: 850px) {
    .bffc-title {
        font-size: 16px;
        margin-bottom: 35px;
    }
    .bffc-title:after {
        width: 50px;
    }
    .bffc-text {
        font-size: 13px;
        width: 230px; 
        letter-spacing: 0.5px;
    }
    .bfsc-title {
        font-size: 16px;
        margin-bottom: 35px;
    }
    .bfsc-title:after {
        width: 50px;
    }

    .bfsc-title-2 {
        font-size: 16px;
    }
    .bfsc-text {
        font-size: 13px;
        letter-spacing: 0.5px;
    }
    .bfsc-text-1 {
        font-size: 13px;
        letter-spacing: 0.5px;
    }
    .bfsc-title-3 {
        font-size: 16px;
    }
    .bfsc-text-2 {
        font-size: 13px;
        letter-spacing: 0.5px;
    }
    .bfsc-text-3 {
        font-size: 13px;
        letter-spacing: 0.5px;
    }
    .bftc-title {
        font-size: 16px;
        margin-bottom: 35px;
    }
    .bftc-title:after {
        width: 50px;
    }
    .bftc-text {
        font-size: 13px;
    }
    .bftc-text-1 {
        font-size: 13px;
    }

    .bfb-icon-wrap {
        margin-bottom: 8px;
    }

    .bf-first-col,
    .bf-second-col,
    .bf-third-col {
        width: 250px;
    }
    .bottom-footer-cols {
        width: 750px;
    }
    .bf-bottom-col {
        width: 750px;
    }

    .fas.fa-map-marker-alt {
        font-size: 22px;
        margin-right: 10px;
    }
    .fas.fa-envelope {
        font-size: 22px;
        margin-right: 8px;
    }
    .bftc-icon-ms {width: 30px;}

    #bfbc-icons {
        font-size: 14px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 760px) {
    .bffc-title,
    .bfsc-title,
    .bftc-title {
        font-size: 15px; 
        margin-bottom: 25px;
    }

    .bffc-title:after,
    .bfsc-title:after,
    .bftc-title:after {
        top: 22px;
    }

    #bfbc-icons {
        font-size: 14px;
    }
    .bfb-icon-wrap {
        margin-bottom: 5px;
    }

    .bfsc-title-2,
    .bfsc-title-3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 750px) {
    .bottom-footer-cols {
        width: 720px;
    }

    .bf-first-col,
    .bf-second-col,
    .bf-third-col {
        width: 240px;
    }

    .bf-bottom-col {
        width: 720px;
    }
}

@media screen and (max-width: 725px) {
    .bottom-footer-elements {
        text-align: center;
    }

    .bottom-footer {
        padding-top: 12px;
        padding-bottom: 18px;
    }

    .bf-first-col {
        width: 100%;
        height: 220px;
        text-align: center;
        margin-bottom: 20px;
    }

    .bf-second-col {
        width: 100%;
        height: 200px;
        text-align: center;
    }

    .bf-third-col {
        display: none; 
    }

    .bf-bottom-col {
        height: 45px;
    }

    .bottom-footer {
        background: linear-gradient(#016742, #1f4436);
        height: 490px;
    }
    /*ELEMENTLER*/
    .bffc-title {
        float: none;
        text-decoration: underline;
        font-weight: bolder;
        letter-spacing: 1px;
    }
    .bfsc-title {
        text-decoration: underline;
        font-weight: bolder;
        letter-spacing: 1px;
    }
    .bffc-title:after {
        display: none;
    }
    .bffc-text {
        float: none;
        text-align: center;
        line-height: 19px;
        display: inline-block;
    }

    .bfsc-title:after {
        display: none;
    }
    .bfbc-icons {
        font-size: 13px;
    }
    .bfb-text {
        font-size: 14px;
    }

    .bottom-footer-cols {width: 100%;}
    .bf-bottom-col {width: 100%;}
}

@media screen and (max-width: 313px) {
    .bottom-footer {height: 500px;}
}
/*FOOTER BOTTOM*/